/*responsive*/

@media (max-width:800px){
	
	/*:root{
		
		--boton-padding:20 px 40px;
		
	}*/
	
	.nav{
		
		justify-content:space-around;
		
	}
	.nav__items--cta{
		
		border:none;
		
		
	}
	.nav__items{
		
		font-weight:400;
		border-bottom:1px solid #fff;
		margin-right:0;
		
	}
	
	
	.nav__items--footer{
		
		border:none;
	}
	
	.hero_texts{
		
		width:100%;
		margin-bottom:80px;
		
	}
	
	.hero__title{
		
		font-size:2.5rem;
		
	}
	.hero__subtitle{
		
		font-size:1.5rem;
	}
	
	/*about*/
	
	.presentation_copy{
		
		width:100%;
		
	}
	
	.about {
		
		grid-template-columns:1fr;
		
		
	}
	
	.about.container{
		
		padding-top:30px;
	}
	
	.about_img--left{
		
		text-align:center;
		
	}
	.about__texts{
		
		text-align:center;
	}
	.about__texts:last-child{
		
		grid-row: 3/4;
		
	}
	
	/*projects*/
	
	.projects__grid{
		
		grid-template-areas:
		"img1 img1 img2 img2"
		"img1 img1 img3 img3"
		"img4 img4 img5 img5"
		"img6 img6 img7 img7";
		
	}
	
	/*footer*/
	
	.footer__grid{
		
		grid-template-columns:1fr;
		
	}
	
	.footer__contact{
		
		grid-row:1/2;
	}
	
}

@media (max-width: 500px){
	
	.subtitle{
		
		font-size:2rem;
		margin-bottom:20px;
		
	}
	.nav{
		
		flex-wrap;
		justify-content:space-evenly;
		margin-top:10px;
		
		
		
	}
	
	.nav__items{
		
		padding:0 10px;
		border:0;
		
		
	}
	
	.hero_texts{
		
		text-align:center;
		margin-bottom:100px;
		
	}
	
	.hero__title{
		
		font-size:2rem;
		
	}
	
	/*about*/
	.presentation__picture{
		
		width:120px;
		height:120px;
	}
	
	.about{
		
		row-gap:60px;
		
	}
	
	.about.container{
		padding-top:10px;
	}
	
	/*projects*/
	
	.projects__grid{
		
		grid-template-areas:
		"img1"
		"img2"
		"img3"
		"img4"
		"img5"
		"img6"
		"img7";
		height:auto;
		grid-template-rows:repeat(5, 250px);
		grid-auto-rows:250px;
		gap:10px;
		
	}
	
	
	
	 
}